body{
  font-family: 'Roboto', sans-serif;
}

/* Utylity */
.py_20{
  padding: 20px 0;
}
.py_40{
  padding: 40px 0;
}
/* END Utility */

/* Color */
.bg_white{
  background-color: white;
}
.bg_blue{
  background-color: #006aff;
}
.bg_ocean_blue{
  background-color: #0038b2;
}
.bg_grey{
  background-color: #f3f5f9;
}

.text_white{
  color: white;
}

.text_grey{
  color: #5c6a88;
}
.text_blue{
  color: #006aff;
}

.text_dark_blue{
  color: #031c4e;
}
/* END Color */

/* Typo */
p{
  font-weight: 400;
}

a{
  font-weight: 500;
}

h1,h2{
  font-weight: 700;
}

h1{
  font-size: 6rem;
}
/* END Typo */

/*********************
* Header             *
**********************/
#site-header{
  margin-top: 90px;
}
/* navbar */
.navbar{
  margin-bottom: 0;
}

.navbar-brand img{
  width: 50%;
  margin-top: -5px;
}

.navbar-default .navbar-nav > li > a{
  color: #031c4e;
}

.navbar-default .navbar-toggle{
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #2285fd;
}

#sign_up{
  border-color: #2285fd;
  color: #2285fd;
  font-weight: 500;
}
/* END navbar */

/* Hero */
.hero{
  background-image: url("../img/bg-home-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: darkblue;
  background-blend-mode: hard-light;
}

.hero_text h1{
  padding-bottom: 20px;
}

.hero_text p{
  color: #bbcdff;
  font-weight: 500;
}

.form_box{
  border-radius: 1rem;
  padding: 20px;
}
.form_box h2{
  line-height: 4.2rem;
}

#inputEmail, #inputPassword{
  font-size: 1.75rem;
}

#google_sign_up{
  margin-top: 14px;
  font-weight: 500;
}
#google_sign_up img{
  width: 18px;
  float: left;
}
#google_sign_up::after{
  content: "";
  display: table;
  clear: both;
}

.form_box p{
  margin-top: 14px;
  font-weight: 500;
}
.form_box p > a{
  text-decoration: underline;
}
/* END Hero */

/*********************
* Main               *
**********************/
section h2 {
  margin: 0;
}

section p.lead{
  font-size: 2.2rem;
  font-weight: 500;
  padding: 2rem 0 2.5rem 0;
}
section p.no_lead{
  font-weight: 500;
  font-size: 1.4rem;
}

/* vip_customers section */
#vip_customers img{
  width: 150px;
  height: auto;
}

#vip_customers h3{
  margin: 0;
  padding-top: 3rem;
}
/* END vip_customers section */

/* services section */
#services .btn-group-vertical>.btn{
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 2px solid lightgrey;
  font-size: 2.2rem;
  text-align: left;
  color: #5c6a88;
}
#services .btn-group-vertical>.btn:hover{
  border-left: 3px solid darkgrey;
  background-color: transparent;
}
#services .btn-group-vertical>.btn:focus,
#services .btn-group-vertical>.btn:active{
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 2px solid #006aff;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}
/* END services section */

/* marketing section */
#marketing img{
  width: 70%;
  padding-top: 40px;
  padding-bottom: 20px;
}
span.arrows::before,
span.arrows::after{
  font-size: 4rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 20px;
  color: #5c6a88;
}
span.arrows::before{
  content: "\f053";
}
span.arrows::after{
  content: "\f054";
}

span.circle_full::after{
  content: "\f111";
  font-size: 1.3rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 0.5rem;
  color: #006aff;
}
span.circle_empty::after{
  content: "\f111";
  font-size: 1.3rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  padding: 0.5rem;
  color: #006aff;
}

/* END marketing section */

/* features section */
.feature_card{
  padding: 20px;
}

#features h2{
  padding-bottom: 30px;
}
/* END features section */

/* servers_data section */
#servers_data{
  height: 300px;
}
/* END marketing section */

/* teams section */
#teams{
  height: 300px;
}
/* END teams section */

/* get_started section */
#get_started{
  height: 300px;
}
/* END get_started section */

/*********************
* Footer             *
**********************/
#site-footer{
  height: 500px;
  background-color: #031c4e;
}


/* Media Query */
/* Fa collassare la navbar sotti i 1200px per
   evitare la sovrapposizione dei sotto-menu */
@media screen and (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

@media screen and (max-width: 768px){
  span.arrows::before,
  span.arrows::after{
    content: "";
  }
}
